* {
    margin: 0;
    padding: 0;
}

div.page {
    height: 100vh;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 50px auto 20px;
    grid-template-areas: 'header header'
        'nav main'
        'footer footer';
}

#header {
    text-align: center;
    background-color: lightblue;
    grid-area: header;
    background-image: url("/img/dolphinLogo.png");
    background-repeat: no-repeat;
    background-position: right;
}

#nav {
    background-color: white;
    grid-area: nav;
    text-align: center;
    font-size: 20px;
}

.navHeader {
    font-size: 30px;
}

#naver {
    padding: 5px;
}

#main {
    grid-area: main;
    padding-left: 80px;
    padding-right: 80px;
}

main ul {
    font-size: 20px;
}

#footer {
    background-color: lightgray;
    grid-area: footer;
    text-align: center;
}

a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
}

a nav {
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: black;
}

.website {
    font-size: 40px;
}

p {
    font-size: 20px;
}